* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.5vw;
}

p,a {
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
}

iframe {
    font-size: 2vw;
    color: white;
}

.content {
    background: white;
    margin-top: -5vw;
    padding-top: 5vw;
    height: 90vw;
    width: 100%;
    text-align: center;
}


.header {
    background: rgba(0,0,0,0.85);
    padding: 1vw 0;
    width: 100%;
    color: white;
}

.header-top {
    height: 8vw;
    padding: 1.5vw 0;
}

.logo {
    float: left;
    margin-bottom: -2vw;
    padding: 0 3vw;
}

.logo img {
    height: 5vw;
    width: 100%;
}

.widget {
    float: left;
    width: 55%;
    text-align: center;
    border-right: 0.2vw solid white;
    border-left: 0.2vw solid white;
    height: 5vw;
    padding: 1.5vw 0;
    
}

.widget p {
    font-size: 2vw;
    margin: 1.5vw 0;
    color: white;
}


.buttons {
    float: right;
    width: 30%;
    height:4vw;
    text-align: center;
}

button {
    width: 10vw;
    height: 5vw;
    background-color: rgb(219, 104, 37);
    border-radius: 2vw;
    border: none;
    margin: 0 1vw -10vw 0;
}


button a {
    text-decoration: none;
    color: white;
    font-size: 1.5v
}

button:hover {
    background: rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.nav {
    padding: 0 4vw;
    margin-top: 1.25vw;
    text-align: center;
}

.nav p {
    color: black;
    float: left;
    margin: 0;
}


.nav a {
    margin: 0 2.5vw;
    color: white;
}

.nav a:hover {
    color: rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.nav .fa {
    margin: 0; 
}

.nav .fa:hover {
    color: rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.nav p {
    margin-bottom: 2vw;
}

hr {
    color: white;
    clear: both;
    margin: 0;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -2;
}


.container1 {
    float: left;
    width: 31%;
    height: 30vw;
    margin: 0 1vw;
    padding: 0.5vw;
}

.container2 {
    float: left;
    width: 60.5%;
    height: 30vw;
    margin: 0 1.5vw;
    padding: 0.5vw;
}

#show {
    font-size: 1.75vw; 
    margin-bottom: 1vw;
}

.container2 p {
    margin: 1.5vw 0;
}

.container1 button {
    margin: 2.25vw 1vw;
    width: 20vw;
    height: 5vw;
}

.float {
    float: left;
    width: 45%;
    padding: 1vw;
}

.float button {
    margin: 1.5vw 0;
    width: 16vw;
}

.fa:hover {
    color:rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.fa {
    color: white;
    margin: 1vw 2vw;
}

.split {
    float: left;
    width: 50%;
    padding: 0.5vw;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: white;
    font-size: 2vw;
    padding: 1vw 4vw;
    position: absolute;
    bottom: 1vw;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.6);
  }

  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 1vw 0.5vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }



.recentsong {
    font-size: 40px !important;
}