@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Nunito+Sans:wght@300&family=Quicksand:wght@300&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: black;
    font-family: Quicksand;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.75vw;
    margin: 1.5vw;
}

h3 {
    font-size: 2vw;
}

p,a,li {
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
}

iframe {
    font-size: 2vw;
    color: white;
}

.content {
    background: white;
    margin-top: -5vw;
    padding-top: 5vw;
    height: 65.5vw;
    width: 100%;
    text-align: center;
}


.header {
    background: rgba(0,0,0,0.85);
    width: 100%;
    color: white;
}

.header-top {
    height: 11vw;
    padding: 0;
}

.logo {
    width: 13%;
    float: left;
    padding: 1.5vw 3vw;
    height: 11vw;
}

.logo img {
    height: 7vw;
    width: 100%;
    margin-top: 0.5vw;
}

.widget {
    float: left;
    width: 42%;
    text-align: center;
    border-right: 0.05vw solid white;
    border-left: 0.05vw solid white;
    height: 11vw;
    padding: 1vw;
    
}

.widget h3 {
    margin: 0 2vw;
}

.header-top p{
    font-size: 1.5vw;
    color: white;
    margin: 0vw 0vw 1vw 0vw;
}


.buttons {
    float: left;
    width: 15%;
    height:11vw;
    text-align: center;
}

.currshow-img {
    width: 30%;
    float: left;
}

.currshow-text {
    width: 70%;
    float: left;
    font-size: 1.25vw;
}

.currshow-img img {
    width: 80%;
}
 
.currentshow {
    width: 30%;
    float: left;
    height: 11vw;
    text-align: center;
    padding: 1vw;
    border-left: 0.05vw solid white;
}

button {
    width: 10vw;
    height: 5vw;
    background-color: rgb(219, 104, 37);
    border-radius: 1vw;
    border: none;
    margin: 0 1vw -10vw 0;
}


.header button {
    height: 4vw;
    width: 11vw;
    margin: 1vw auto;
    display: block;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 1.5v
}

button:hover {
    background: rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.nav {
    padding: 1.25vw 4vw;
    text-align: center;
    padding-top: 1vw;
    border-top: 0.05vw solid white;
    overflow: hidden;
    
}

.nav img {
    position: absolute;
    left: 0.5vw;
    top: 12.5vw;
}

.nav a {
    color: white;
    margin: 0vw 3.5vw;
}

.nav a:hover {
    color: rgb(56, 150, 194);
    transition-duration: 0.5s;
}

hr {
    color: white;
    clear: both;
    margin: 0;
}


.container1 {
    float: left;
    width: 60%;
    height: 36vw;
    margin: 2vw 1vw;
}

.container2 {
    float: left;
    width: 35%;
    height: 36vw;
    margin: 2vw 1vw;
}

#show {
    font-size: 2.5vw; 
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.container2 p {
    margin: 1.5vw 0;
}

.special-button {
    margin: 1vw auto 1vw auto;
    width: 26vw;
    height: 5vw;
    display: block;
}

.normal-button {
    margin: 0 1vw;
    width: 12vw;
    height: 4vw;
    display: inline;
    border-radius: 1vw;
}


.float {
    float: left;
    width: 45%;
    padding: 1vw;
}

.float button {
    margin: 1.5vw 0;
    width: 16vw;
}

.text-container .fa {
    color: black;
    margin: 0 2vw;
}

.text-container .fa:hover, .third .fa:hover {
    color:rgb(56, 150, 194);
    transition-duration: 0.5s;
}


.fa:hover {
    color:rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.fa {
    color: white;
    margin: 1vw 2vw;
}

.split {
    float: left;
    width: 50%;
    padding: 0.5vw;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

.slideshow-container img {
    max-height: 35vw;
}

img {
    max-width: 100%;
}

.text-content-container {
    background: rgb(240, 240, 240);
    margin-top: -7vw;
    height: 47vw;
}

.text-content-container2 {
    background: rgb(240, 240, 240);
    margin-top: 2vw;
    height: 47vw;
}

.text-content {
    width: 75%;
    padding: 2vw;
    margin: 0 auto;
}
  
  /* Caption text */
  .text {
    color: white;
    font-size: 2vw;
    padding: 1vw 4vw;
    position: absolute;
    bottom: 1vw;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.6);
  }

  .team {
    margin-top: -6vw; padding: 5vw; text-align: center; height: 42vw;
  }

  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 1vw 0.5vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

  .songs-container {
      background: rgb(240, 240, 240);
      width: 100%;
      height: 41vw;
      margin-top: 2.5vw;
      padding-top: 0.5vw;
      text-align: center;
  }

  .curr-songs {
        background: rgb(250, 250, 250);
      float: left;
      width: 39%;
      height: 25vw;
      padding: 1vw;
      margin: 1vw;
      text-align: center;
     border-radius: 1vw;
  }

  .third h3 {
      margin: 1.5vw;
  }

  .text-container {
    background: rgb(250, 250, 250);
    float: left;
    width: 27.25%;
    height: 25vw;
    padding: 1vw;
    margin: 1vw;
    text-align: center;
    border-radius: 1vw;
  }

  .nw-orbit {
    background:rgba(255,255,255);
    width: 100%;
    height: 45vw;
    margin-top: 2vw;
    text-align: center;
}

.orbit-content {
    float: left;
    width: 50%;
    padding: 1vw;
    margin-top: 1vw;
    
}

img {
    border-radius: 1vw;
    width: 100%;
}

  .split1 {
      width: 60%;
      float: left;
      padding: 2vw;
      text-align: center;
      height: 10vw;
  }

  .split2 {
    width: 40%;
    float: left;
    padding: 2vw;
    text-align: center;
    height: 10vw;
}

.donate {
    background: rgb(240, 240, 240);
    width: 100%;
    height: 42vw;
    text-align: center;
    padding-top: 1vw;
}

input[type=text], select, textarea {
    width: 80%; 
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 1.5vw;
    margin: 0.5vw 3vw;
    font-family: Quicksand;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(219, 104, 37);
    color: white;
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 0.75vw;
    width: 7vw;
    font-size: 1.25vw;
  }
  

  label {
      font-size: 1.25vw;
  }

  input[type=submit]:hover {
    background-color: rgb(56, 150, 194);
    transition-duration: 0.5s;
  }


.split1 p, .split2 p {
    font-size: 1vw;
}

.float-element {
    width: 50%;
    float: left;
}

.third {
    background: rgb(250,250,250);
    width: 31.25%;
    float: left;
    height: 30vw;
    margin: 1vw;
    padding: 0 1.5vw;
    border-radius: 1vw;
}

.third button, .text-container button {
    width: 20vw;
    margin: 0.5vw;
}

.space-pics img {
    width: 80%;
}

.third .fa {
    color: black;
    margin:2vw;
}

.third a:hover {
    color: rgb(56, 150, 194);
}

.third button a:hover {
    color: white;
}

.team-content {
    float: left; width: 50%;
}

.team-pic {
    float: right; width: 35%
}

.nav .icon {
    display: none;
  }

  .recentsongs {
    max-height:80%; 
    width:100%;
    border:none; 
    margin:0; 
    padding:0;
  }

  .abt-img {
    width: 40%; margin: 1vw;
  }

  .space-pics {
    float: left; width: 50%; padding: 2vw; text-align: center;
  }

  .space-text {
    float: left; width: 45%; padding: 2vw;
  }

  .top-songs {
      float: left;
      width: 50%;
      padding: 2vw;
      text-align: left;
  }

  .songs-image {
      float: left;
      width: 50%;
      margin-top: 2vw;
      text-align: center;
  }

  .shows-container {
      width: 100%;
      padding: 2vw;
      background: rgb(240, 240, 240);
      margin-top: 35vw;
      height: 51vw;
      text-align: center;
  }

  .program-img {
      float:left;
      width: 20%;
      padding-top: 2vw;
  }

  .program-text {
      float: left;
      width: 25%;
      margin: 0;
  }

  .orbit-container {
      background: white;
      height: 45vw;
      text-align: center;
  }

  audio {
      margin: 0.5vw;
  }

  .schedule {
      background: white;
      height: 77vw;
      text-align: left;
      padding: 1vw 0vw;
  }

  .schedule h2 {
      text-align: center;
  }

  .schedule-split1 {
      float: left;
      width: 30%;
      text-align: right;
  }

  .schedule-split2 {
    float: left;
    width: 30%;
    text-align: left;
}

.img-stack {
    float: left;
    width: 40%;
    padding: 1vw;
    text-align: center;
}

.img-stack img {
    width: 70%;
    margin: 0 auto;
}

.volunteer-container {
    width: 100%;
    height: 38vw;
    margin-top: 1vw;
}

.vleft {
    float: left;
    width: 50%;
    padding: 2vw;
}

.vright {
    float: left;
    width: 50%;
    padding: 2vw;
}

.vleft p {
    margin: 0;
}

.vright img {
    width: 90%;
}

.vleft button {
    width: 17vw;
    height: 5vw;
    margin: 0vw 1.5vw 2vw 1.5vw;
}

.more-volunteering {
    background: rgb(240, 240, 240);
    height: 80vw;
    padding: 2vw;
}

.more-volunteering p {
    margin: 0.5vw;
}

.more-volunteering h3 {
    margin: 0.5vw;
    font-size: 2vw;
}

.vleft2 {
    width: 40%;
    float: left;
    padding: 0 2vw;
}

.vright2 {
    float: left;
    width: 60%;
}

.thirdv2 {
    background: rgb(250,250,250);
    width: 46%;
    float: left;
    height: 44vw;
    margin: 2vw;
    padding: 0 1.5vw;
    border-radius: 1vw;
}

.thirdv2 img, .thirdv2TALL img {
    width: 80%;
    max-height: 70%;
    margin: 1vw;
}

.thirdv2TALL {
    background: rgb(250,250,250);
    width: 46%;
    float: left;
    height: 50vw;
    margin: 2vw;
    padding: 0 1.5vw;
    border-radius: 1vw;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .text a {
      color: white;
      text-decoration: underline;
      font-size: 2vw;
  }
  
  .overlay a {
    text-decoration: none;
    font-size: 6vw;
    margin: 2vw;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 1vw;
    right: 2vw;
    font-size: 10vw;
    color: white;
  }

  .responsive-nav {
      display: none;
  }


  /* On smaller screens, get rid of fancy header */


  @media only screen and (max-width: 800px) {


        .nav a {
            display: none;
        }

        .nav {
            border:none;
        }

        .responsive-nav {
            display: block;
            position: absolute;
            top: 8vw;
            right: 8vw;
        }
      
        h2 {
            font-size: 8vw;
        }

        h3 {
            font-size: 6.5vw;
            margin-top: 2vw;
        }

        p, a {
            font-size: 5vw;
        }

        .widget, .buttons, .logo {
            display: none;
        }

        .logo {
            width: 20%;
        }

        .logo img {
            height: 14vw;
        }

        .header {
            height: 25vw;
        }

        .currentshow {
            width: 70%;
            margin-left: 2vw;
            padding: 2vw;
            border: none;
        }

        #show {
            padding-top: 2vw;
            font-size: 5vw;
        }

        #host {
            font-size: 4vw;

        }

        .container2 {
            display: none;
        }

        .container1 {
            width: 100%;
            height: 60vw;
        }

        .third {
            width: 100%;
            height: 80vw;
        }


        .slideshow-container img {
            max-height: 65vw;
        }

        .songs-container {
            margin-top: 70vw;
            height: 210vw;
        }

        .nw-orbit {
            height: 140vw;
        }

        .orbit-content {
            width: 100%;
            height: 70vw;
        }

        .donate {
            margin-top: 100vw;
        }


        .text, .text a {
            font-size: 6vw;  
        }
        
        


}
