@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Nunito+Sans:wght@300&family=Quicksand:wght@300&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: black;
    font-family: Quicksand;
}

h1 {
    font-size: 3vw;
    font-family: Nunito Sans;
    font-weight: normal;
}

h2 {
    font-size: 2.75vw;
    margin: 1.5vw;
    font-family: Nunito Sans;
    font-weight: normal;
}

h3 {
    font-size: 2vw;
    font-family: Nunito Sans;
    font-weight: normal;
}

.about-float1 {
    margin-top: 1vw;
    width: 45%;
    float: left;
}

.about-float2 {
    width: 55%;
    float: left;
}

.half .about-float1 .fa {
    display: relative;
    margin: 1vw 1vw;
}

p,a,li {
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
}

iframe {
    font-size: 2vw;
    color: white;
}

.content {
    background: white;
    margin-top: -5vw;
    padding-top: 5vw;
    height: 65.5vw;
    width: 100%;
    text-align: center;
}


.header {
    background: rgba(0,0,0,0.85);
    width: 100%;
    color: white;
}

.header-top {
    height: 11vw;
    padding: 0;
}

.logo {
    width: 13%;
    float: left;
    padding: 1.5vw 3vw;
    height: 11vw;
}

.logo img {
    height: 7vw;
    width: 100%;
    margin-top: 0.5vw;
}

.widget {
    float: left;
    width: 42%;
    text-align: center;
    border-right: 0.05vw solid white;
    border-left: 0.05vw solid white;
    height: 11vw;
    padding: 1vw;
    
}

.widget h3 {
    margin: 0 2vw;
}

.header-top p{
    font-size: 1.5vw;
    color: white;
    margin: 0vw 0vw 1vw 0vw;
}


.buttons {
    float: left;
    width: 15%;
    height:11vw;
    text-align: center;
}

.currshow-img {
    width: 30%;
    float: left;
}

.currshow-text {
    width: 70%;
    float: left;
    font-size: 1.25vw;
}

.currshow-img img {
    width: 80%;
}
 
.currentshow {
    width: 30%;
    float: left;
    height: 11vw;
    text-align: center;
    padding: 1vw;
    border-left: 0.05vw solid white;
}

button {
    width: 10vw;
    height: 5vw;
    background-color: rgb(219, 104, 37);
    border-radius: 1vw;
    border: none;
    margin: 0 1vw -10vw 0;
}


.header button {
    height: 4vw;
    width: 11vw;
    margin: 1vw auto;
    display: block;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 1.5;
    font-family: Quicksand;
    font-weight: bold;
}

button:hover {
    background: rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.nav {
    padding: 1.25vw 4vw;
    text-align: center;
    padding-top: 1vw;
    border-top: 0.05vw solid white;
    overflow: hidden;
    
}

.nav img {
    position: absolute;
    left: 0.5vw;
    top: 12.5vw;
}

.nav a {
    color: white;
    margin: 0vw 3vw;
}

.nav a:hover {
    color: rgb(56, 150, 194);
    transition-duration: 0.5s;
}

hr {
    color: white;
    clear: both;
    margin: 0;
}


.container1 {
    float: left;
    width: 60%;
    height: 36vw;
    margin: 2vw 1vw;
}

.container2 {
    float: left;
    width: 35%;
    height: 36vw;
    margin: 2vw 1vw;
}

#show {
    font-size: 2.5vw; 
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.container2 p {
    margin: 1.5vw 0;
}

.special-button {
    margin: 1vw auto 1vw auto;
    width: 26vw;
    height: 5vw;
    display: block;
}

.half .normal-button {
    display: inline;
    width: 17vw;
    margin: 0 1vw;
}


.float {
    float: left;
    width: 45%;
    padding: 1vw;
}

.float button {
    margin: 1.5vw 0;
    width: 16vw;
}

.text-container .fa {
    color: black;
    margin: 0 2vw;
}

.text-container .fa:hover, .third .fa:hover {
    color:rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.half .fa:hover, .third .fa:hover {
    color:rgb(56, 150, 194);
    transition-duration: 0.5s;
}


.fa:hover {
    color:rgb(56, 150, 194);
    transition-duration: 0.5s;
}

.fa {
    color: white;
    margin: 1vw 2vw;
}

.split {
    float: left;
    width: 50%;
    padding: 0.5vw;
}

/* Slideshow container */
.slideshow-container {
    max-width: 99%;
    position: relative;
    margin: auto;
  }

.slideshow-container img {
    max-height: 36vw;
}

img {
    max-width: 100%;
}

.text-content-container {
    background: rgb(240, 240, 240);
    margin-top: -7vw;
    height: 47vw;
}

.text-content-container2 {
    background: rgb(240, 240, 240);
    margin-top: 2vw;
    height: 47vw;
}

.text-content {
    width: 75%;
    padding: 2vw;
    margin: 0 auto;
}
  
  /* Caption text */
  .text {
    color: white;
    font-size: 2vw;
    padding: 1vw 4vw;
    position: absolute;
    bottom: 1vw;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.6);
  }

  .team {
    margin-top: -6vw; padding: 5vw; text-align: center; height: 42vw;
  }

  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 1vw 0.5vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  


  .nav .active {
      color:rgb(56, 150, 194);
      font-weight: bold;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

  .songs-container {
      background: rgb(240, 240, 240);
      width: 100%;
      height: 80vw;
      margin-top: 2.5vw;
      padding-top: 0.5vw;
      text-align: center;
  }

  .curr-songs {
        background: rgb(250, 250, 250);
      float: left;
      width: 39%;
      height: 25vw;
      padding: 1vw;
      margin: 1vw;
      text-align: center;
     border-radius: 1vw;
  }

  .third h3 {
      margin: 1.5vw;
  }

  .text-container {
    background: rgb(250, 250, 250);
    float: left;
    width: 27.25%;
    height: 25vw;
    padding: 1vw;
    margin: 1vw;
    text-align: center;
    border-radius: 1vw;
  }

  .nw-orbit {
    background:rgba(255,255,255);
    width: 100%;
    height: 45vw;
    margin-top: 2vw;
    text-align: center;
}

.orbit-content {
    float: left;
    width: 50%;
    padding: 1vw;
    margin-top: 1vw;
    
}

img {
    border-radius: 1vw;
    width: 100%;
}

  .split1 {
      width: 60%;
      float: left;
      padding: 2vw;
      text-align: center;
      height: 15vw;
  }

  .split2 {
    width: 40%;
    float: left;
    padding: 2vw;
    text-align: center;
    height: 15vw;
}

input[type=text], select, textarea {
    width: 80%; 
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 1.5vw;
    margin: 0.5vw 3vw;
    font-family: Quicksand;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(219, 104, 37);
    color: white;
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 0.75vw;
    width: 7vw;
    font-size: 1.25vw;
    font-family: Quicksand;
    font-weight: bold;
  }

  .abt-imgs {
    text-align: center; 
    margin-top: 2vw;
  }
  

  label {
      font-size: 1.25vw;
  }

  input[type=submit]:hover {
    background-color: rgb(56, 150, 194);
    transition-duration: 0.5s;
  }
  
  textarea {

    height: 10vw;
            
    }


.split1 p, .split2 p {
    font-size: 1vw;
}

.float-element {
    width: 50%;
    float: left;
}

.half {
    background: rgb(250,250,250);
    width: 48%;
    float: left;
    height: 30vw;
    margin: 1% 1% 2% 1%;
    padding: 0 1.5vw;
    border-radius: 1vw;
}

.halfv2 {
    background: rgb(250,250,250);
    width: 48%;
    float: left;
    height: 30vw;
    margin: 1%;
    padding: 0 1.5vw;
    border-radius: 1vw;
}

.other-times {
    height: 20vw;
    background: rgb(240,240,240);
    padding: 2vw 8vw;
}

.half button {
    display: inline;
    width: 10vw;
}

.currshow-img {
    margin-left: 5%;
}

.currshow-text {
    width: 60%
}

.split1, .split2 {
    padding: 5vw;
}

.third {
    background: rgb(250,250,250);
    width: 31.25%;
    float: left;
    height: 30vw;
    margin: 1vw;
    padding: 0 1.5vw;
    border-radius: 1vw;
}

.half button, .third button, .text-container button {
    width: 20vw;
    margin: 0.5vw 4vw;
}

.space-pics img {
    width: 80%;
}

.third .fa {
    color: black;
    margin:2vw;
}

.half .fa {
    color: black;
    margin:2vw;
}

.third a:hover {
    color: rgb(56, 150, 194);
}

.third button a:hover {
    color: white;
}

.team-content {
    float: left; width: 50%;
}

.team-pic {
    float: right; width: 35%
}

.nav .icon {
    display: none;
  }

  .recentsongs {
    max-height:80%; 
    width:100%;
    border:none; 
    margin:0; 
    padding:0;
  }

  .abt-img1, .abt-img2 {
    width: 40%; margin: 1vw;
  }

  .space-pics {
    float: left; width: 50%; padding: 2vw; text-align: center;
  }

  .space-text {
    float: left; width: 45%; padding: 2vw;
  }

  .top-songs {
      float: left;
      width: 50%;
      padding: 2vw;
      text-align: left;
  }

  .songs-image {
      float: left;
      width: 50%;
      margin-top: 2vw;
      text-align: center;
  }

  .shows-container {
      width: 100%;
      padding: 2vw;
      background: rgb(240, 240, 240);
      margin-top: 35vw;
      height: 51vw;
      text-align: center;
  }

  .program-img {
      float:left;
      width: 20%;
      padding-top: 2vw;
  }

  .program-text {
      float: left;
      width: 25%;
      margin: 0;
  }

  .orbit-container {
      background: white;
      height: 45vw;
      text-align: center;
  }

  audio {
      width: 21vw;
      height: 4.5vw;
  }

  .schedule {
      background: white;
      height: 77vw;
      text-align: left;
      padding: 1vw 0vw;
  }

  .schedule h2 {
      text-align: center;
  }

  .schedule-split1 {
      float: left;
      width: 30%;
      text-align: right;
  }

  .schedule-split2 {
    float: left;
    width: 30%;
    text-align: left;
}

.img-stack {
    float: left;
    width: 40%;
    padding: 1vw;
    text-align: center;
}

.img-stack img {
    width: 70%;
    margin: 0 auto;
}

.volunteer-container {
    width: 100%;
    height: 38vw;
    margin-top: 1vw;
}

.vleft {
    float: left;
    width: 50%;
    padding: 2vw;
}

.vright {
    float: left;
    width: 50%;
    padding: 2vw;
}

.vleft p {
    margin: 0;
}

.vright img {
    width: 90%;
}

.vleft button {
    width: 17vw;
    height: 5vw;
    margin: 0vw 1.5vw 2vw 1.5vw;
}

.more-volunteering {
    background: rgb(240, 240, 240);
    height: 80vw;
    padding: 2vw;
}

.more-volunteering p {
    margin: 0.5vw;
}

.more-volunteering h3 {
    margin: 0.5vw;
    font-size: 2vw;
}

.vleft2 {
    width: 40%;
    float: left;
    padding: 0 2vw;
}

.about-float2 img {
    width: 90%;
    border-radius: 5%;
    margin-top: 0vw;
    border: .2vw solid rgb(240,240,240);
}

.about-float2 img:hover {
    width: 95%;
    transition-duration: 1s;
    margin-top: -0.5vw;
}


.vright2 {
    float: left;
    width: 60%;
}

.thirdv2 {
    background: rgb(250,250,250);
    width: 46%;
    float: left;
    height: 50vw;
    margin: 2vw;
    padding: 0 1.5vw;
    border-radius: 1vw;
}

.thirdv2 img, .thirdv2TALL img {
    width: 80%;
    max-height: 70%;
    margin: 1vw;
}

.thirdv2 a {
    text-decoration: underline;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .text a {
      color: white;
      text-decoration: underline;
      font-size: 2vw;
  }
  
  .overlay a {
    text-decoration: none;
    font-size: 6vw;
    margin: 2vw;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 1vw;
    right: 1vw;
    color: white;
    font-size: 15vw;
  }

  .responsive-nav {
      display: none;
  }


  /* On smaller screens, get rid of fancy header */


  @media only screen and (max-width: 800px) {


        .nav a {
            display: none;
        }

        img {
            border-radius: 3vw;
        }

        .nav {
            border:none;
        }
        
        .responsive-nav {
            display: block;
            position: absolute;
            top: 5vw;
            right: 5vw;
            font-size: 3vw;
        }

        .responsive-nav p, .responsive-nav a {
            display: inline;
            color: white;
            font-size: 5vw;
            margin: 0vw;
        }
        

        h2 {
            font-size: 8vw;
            font-family: Nunito Sans;
            font-weight: normal;
        }

        h3 {
            font-size: 6.5vw;
            margin-top: 2vw;
            font-family: Nunito Sans;
            font-weight: normal;
        }

        p, a, li {
            font-size: 4.7vw;
        }

        .buttons {
            display: none;
        }

        .top-songs {
            padding: 8vw;
            margin-top: -4vw;
        }

        .header-top p {
            font-size: 5vw;
            margin-bottom: 5vw;
        }

        .nav a {
            margin: 2vw;
        }

        .widget {
            width: 100%;
            height: auto;
            padding: 2vw 5vw;
            height: 50vw;
            border-left: none;
            border-top: solid white 0.1vw;
        }

        .logo {
            width: 20%;
            height: 40vw;
            float: none;
            position: absolute;
            top: -0.5vw;
            left: 1vw;
        }

        .logo img {
            height: 14vw;
        }

        .header {
            height: 100vw;
        }

        .currshow-img {
            padding-top: 4vw;
            width: 25%;
        }

        .currentshow {
            width: 100%;
            margin-top: 17vw;
            padding: 2vw;
            border: none;
            height: 35vw;
            border-top: solid white 0.1vw;
        }

        #show {
            padding: 6vw 2vw 0vw 0vw;
            font-size: 6.5vw;
        }

        #host {
            font-size: 4.5vw;
            padding-left: 1vw;

        }

        .container2 {
            height: 110vw;
            width: 98%;
            padding: 8vw;
            margin-top: -5vw;

        }

        .content h3 {
            padding: 1vw 6vw;
            margin-bottom: -5vw;
        }

        .schedule {
            padding: 2vw 8vw;
            height: 400vw;
        }

        .volunteer-container {
            padding: 4vw;
            height: 185vw;
        }


        img {
            border-radius: 4vw;
        }
        
        .container2 button {
            margin-top: 5.5vw;
            border-radius: 3vw;
        }

        .container2 img {
            width: 100%;
        }
        
        .slideshow-container img {
            width: 95%;
            margin: 0;
        }


        .special-button {
            width: 70vw;
            height: 14vw;
        }

        .container1 {
            width: 98%;
            height: 70vw;
        }

        .third, .half {
            width: 100%;
            height: 90vw;
            border-radius: 6vw;
            padding: 3vw;
        }

        .third h3 {
            margin: 3vw;
        }

        .third button, .half button, .half .normal-button {
            width: 34%;
            height: 19%;
            padding: 1vw;
            border-radius: 5vw;
            margin: 3% 1%;
        }

        .slideshow-container {
            margin-bottom: 5vw;
        }

        .slideshow-container img {
            max-height: 65vw;
            border-radius: 4vw;
        }

        .content {
            height: 175vw;
        }

        .songs-container {
            margin-top: 150vw;
            height: 410vw;
            padding: 2vw 6vw;
        }

        .songs-container h2 {
            margin: 4vw;
        }

        .nw-orbit {
            height: 150vw;
        }

        .orbit-content {
            width: 100%;
            height: 70vw;
        }

        .donate {
            margin-top: 125vw;
        }


        .text, .text a {
            font-size: 6vw;  
        }

        .about-float1 {
            margin-top: -2vw;
            width: 100%;
        }

        .about-float2 img {
            margin-top: -0.5vw;
            width: 75%;
            border: 1vw solid rgb(240,240,240);
        }
        
        .about-float2 {
            margin-top: 3.5vw;
            width: 100%;
        }

        .half .about-float1 .fa {
            display: inline;
            margin: 5vw 5vw 0vw 5vw;
            font-size: 10vw;
        }

        input[type=text], select, textarea {
            width: 90%; 
            height: 10vw;
            padding: 2vw;
            margin: 1.5vw 5vw;
            font-size: 4vw;
            border-radius: 5vw;
        }
        
        textarea {
            height: 30vw;
        }
        
        /* Style the submit button with a specific background color etc */
        input[type=submit] {
            border-radius: 2vw;
            width: 18vw;
            height: 10vw;
            font-size: 5vw;
        }
        

        label {
            font-size: 5vw;
        }

        input[type=submit]:hover {
            background-color: rgb(56, 150, 194);
            transition-duration: 0.5s;
        }
        

        .split1, .split2 {
            width: 100%;
            height: 40vw;

        }

        .split1 p, .split2 p {
            font-size: 4vw;
        }

        .text-content-container {
            height: 380vw;
            margin-top: 20vw;
        }

        .abt-img2 {
            display: none;
        }

        .abt-img1 {
            width: 90%;
        }

        .team {
            height: 90vw;
            padding-top: 5vw;
        }

        .team-pic {
            margin-top: 20vw;
        }

        .vanish {
            display: none;
        }

        .text {
            width: 94%;
            margin: 0 0 1% 3%;
        }

        .text-content-container2 {
            height: 280vw;
            padding: 6vw 10vw;;
        }

        .space-text, .space-pics {
            width: 100%;
        }

        .space-pics img {
            width: 100%;
        }

        .top-songs, .songs-image {
            width: 100%;
        }

        .top-songs {
            height: 135vw;
        }

        .shows-container {
            margin-top: 180vw;
            height: 470vw;
            padding: 0 8vw;
        }

        .program-img, .program-text {
            width: 100%;
        }

        .img-stack {
            display:none;
        }
        
        .schedule-split1, .schedule-split2 {
            width: 100%;
            text-align: center;
        }

        .orbit-container {
            padding: 5vw;
        }

        .thirdv2 {
            width: 100%;
            height: 135vw;
            margin: 2.5vw 0;
            border-radius: 6vw;
        }

        audio {
            width: 80vw;
            height: 11vw;
        }

        .vleft, .vright {
            width: 100%;
        }


        .more-volunteering {      
            height: 445vw;
            padding: 6vw;
        }

        .vleft button {
            width: 40vw;
            height: 20vw;
            border-radius: 3vw;
        }

        .vleft2 {
            margin: 5vw 0;
        }

        .vleft2, .vright2 {
            width: 100%;
        }


        .more-volunteering h3 {
            font-size: 6vw;
            margin: 3vw;
        }

        .other-times {
            height: 90vw;
        }




}
