@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Nunito+Sans:wght@300&family=Quicksand:wght@300&display=swap');


body {
    margin: 0;
    font-size: 2.75vw;
    font-family: Quicksand;
    color: white;
}

a {
    color: white;
}