@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Rubik:wght@500&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: Outfit;
}

.nav {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}
  
.nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.bar {
      float: right;
  }

h1 {
    font-family: Rubik;
    font-size: 3.5vw;
}

h2 {
    font-size: 2.75vw;
    font-family: Rubik;
}

p {
    font-size: 2vw;
}

.background-1 {
    background: url("/Users/wbowers/OneDrive - Eastside Preparatory School/Documents/Web Design 2/williamb-eps.github.io/homepage-project/images/spread.png");
    background-size: cover;
    background-repeat: none;
    height: 45vw;
    width: 100%;
}

.welcome-text {
    text-align: center;
    background: rgba(0,0,0,0.8);
    transform: translate(40%, 40%);
    color: white;
    font-size: 1vw;
    width: 55vw;
    padding: 1vw;
    border-radius: 1vw;

}

.background-2 {
    background: url("/Users/wbowers/OneDrive - Eastside Preparatory School/Documents/Web Design 2/williamb-eps.github.io/homepage-project/images/dishes.png");
    background-size: cover;
    height: 50vw;
    width: 100%;
    background-repeat: none;
}

.award-text {
    color: white;
    transform: translate(0, -10%);
    text-align: center;
    top: 46vw;
    height: 41.25vw;
    width: 99%;
    padding: 3vw;
}

.info-container {
    background-color: rgb(99, 24, 27);
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: -2vw;
    float: left;
}

.info-container p {
    font-size: 2vw;
}

.info-container h2 {
    font-size: 2.5vw;
}

.visit-us {
    float: left;
    width: 33%;
    padding: 20px;
    text-align: center;
}

.contact-us {
    float: left;
    width: 33%;
    padding: 20px;
    text-align: center;
}

.hours {
    float: left;
    width: 33%;
    padding: 20px;
    text-align: center;

}

@media only screen and (max-width: 900px) {

    .visit-us, .contact-us, .hours {
        width: 100%;
        padding: 0;
    }

    .welcome-text {
        top: 100vw;
    }

    .award-text {
        top: 115vw;
    }
    .nav a {
        float: none;
        display: block;
        text-align: left;
        text-align: center;
    }

    .nav h2 {
        display: none;
    }
        
    .bar {
        float: none;
    }
}