body {
    background-color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    color: darkblue;
}

p {
    padding: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.navBar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: darkblue;
    padding-left: 450px;
    height: 80%;
}

.navItem {
    display: block;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a:hover {
    background-color: darkgrey;
}

.gridContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    background-color: white;
}

.gridItem1 {
    padding: 20px;
    grid-column: 1;
    grid-row: 1;
}

.gridItem2 {
    padding: 10px;
    grid-column: 2;
    grid-row: 1 / span 2;
    padding-top: 30px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
    padding: 10px;
}