@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Nunito+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Nunito Sans;
    color: white;
    background: black;
}

h1 {
    font-family: Expletus Sans;
    font-size: 6vw;
    margin: 0;
}

h2 {
    font-family: Expletus Sans;
    font-size: 3.5vw;
}

p, a {
    font-size: 1.75vw;
}

.header {
    position: absolute;
    width: 100%;
    height: 4vw;
    padding: 2.5vw;
    font-size: 1.5vw;
    z-index: 1;
}

.menu {
    float: left;
}

.name {
    float: right;
}

.bar1, .bar2 {
    width: 3.25vw;
    height: 0.2vw;
    background-color: white;
    margin: 1vw 0;
    transition: 0.4s;
}

/* Loading animation influenced by (not copied from): https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader*/

.loader {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
}

.loader:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-radius: 50%;
    box-sizing: border-box;
    border: 32px solid white;
    border-color: black white;
    animation: loader 1.2s infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(720deg);
    }
  }

/* Code for wrapper influenced by (not copied from): https://redstapler.co/add-loading-animation-to-website/*/

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #20283f;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {

    /* Loading animation plays, then fadeout occurs suddenly */

    90% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}

/* Code for nav css influenced by (not copied from): https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    background: linear-gradient(-45deg, #20283f,rgb(184, 78, 46));
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 5vw;
  }
  
.overlay a {
    padding: 1vw;
    text-decoration: none;
    font-size: 4vw;
    color: white;
    display: block;
    transition: 0.3s;
  }

.overlay a:hover, .overlay a:focus {
    text-decoration: underline;
}
  
.overlay .closebtn {
    position: absolute;
    right: 3vw;
    font-size: 6vw;
}

.intro-container {
    background: url("https://williamb-eps.github.io/final-project/images/intro-img.jpeg");
    background-size: cover;
    height: 55vw;
    width: 100%;
}

.intro {
    background: radial-gradient(circle at left,rgb(32, 40, 63,0.9) 30%, rgba(184, 78, 46,0.7));
    height: 55vw;
    padding: 8vw 5vw;
}

.big-name {
    float: left;
    width: 20%;
    margin-top: 4vw;
    text-align: center;
}

.logo {
    float: left;
    width: 50%;
    text-align: center;
    margin: 2% 0vw 0vw 30%;
}

.sample-container {
    background: linear-gradient(90deg,rgb(32, 40, 63), rgb(49, 62, 97));
    height: 115vw;
}

hr {
    margin: 0;
}

.left {
    margin-top: 3vw;
    float: left;
    width: 50%;
    padding: 2.25vw;
    text-align: center;
}

.right {
    margin: 3vw 0;
    float: left;
    width: 50%;
    padding: 2vw;
}

button {
    background-color: rgb(232, 37, 19);
    border-radius: 1vw;
    margin: 2.5vw;
    width: 10vw;
    height: 4vw;
    border: none;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 0;
    font-family: Nunito Sans;
}

button:hover {
    background-color:rgb(184, 78, 46);
    transition-duration: 0.5s;
}

.footer {
    background: rgb(32, 40, 63);
    text-align: center;
    font-size: 1.2vw;
    height: 12vw;
    padding: 3vw;
}

.footer-left {
    width: 60%;
    float: left;
    text-align: left;
}

.footer-right {
    margin-top: 1vw;
    float: left;
    text-align: center;
    width: 35%;
}

.footer a, .footer p {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    display: inline-block;
    margin: 1vw;
}

.footer a:hover {
    color: rgb(232, 37, 19);
    transition-duration: 0.5s;
}

.mini-nav a {
    display: inline-block;
    margin: 0.5vw;
    font-size: 1.4vw;
}

/* Gradient overlay used for the top of each page */

.title-page-container {
    background: linear-gradient(-90deg, rgba(184, 78, 46,0.8),rgba(49, 62, 97,0.8)); 
    width: 100%;
    padding: 15vw;
    text-align: center;
    height: 55vw;
}

.headshot {
    background: url("https://williamb-eps.github.io/final-project/images/headshot.png");
    width: 100%;
    height: 55vw;
    background-size: cover;
}

.about-me-content {
    width: 100%;
    height: 87vw;
    background: linear-gradient(90deg, rgb(32, 40, 63), rgb(49, 62, 97)); 
}

.about-section {
    float: left;
    width: 50%;
    padding: 1vw 1vw 1vw 5vw;
}

.about-section-2 {
    float: left;
    width: 50%;
    padding: 2vw;
    text-align: center;
}

.resume {
    text-align: center;
    margin: 5vw auto 0 auto;
}

.contact-photo {
    background: url("https://williamb-eps.github.io/final-project/images/contact-photo.jpeg");
    background-size: cover;
    height: 55vw;
    width: 100%;
}

.contact-box {
    background: linear-gradient(90deg,rgb(32, 40, 63), rgb(49, 62, 97));
    width: 100%;
    padding: 5vw 0;
}

.contact-buttons {
    margin: 4vw 0;
    text-align: center;
}

.contact-buttons a {
    color: white;
    margin: 1vw 5vw;
}

.contact-buttons a:hover {
    color: rgb(232, 37, 19);
    transition-duration: 0.5s;
}

form {
    padding: 0 4vw;
}

label {
    font-size: 1.5vw;
}

input[type=text], select, textarea {
    width: 100%;
    height: 5vw;
    padding: 1.5vw;
    font-size: 1.25vw;
    border-radius: 0.5vw;
    box-sizing: border-box;
    font-family: Nunito Sans;
    margin-bottom: 1.5vw;
    resize: vertical;
}
  
input[type=submit] {
    background-color:rgb(232, 37, 19);
    color: white;
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    font-size: 1.25vw;
    margin-bottom: 2vw;
}
  
input[type=submit]:hover {
    background-color: rgb(184, 78, 46);
    transition-duration: 0.5s;
}

/* CSS for unfinished pages (until media querie) */

.portfolio-img {
    background: url("https://williamb-eps.github.io/final-project/images/portfolio-img.jpeg");
    background-size: cover;
    background-repeat: none;
    height: 55vw;
    width: 100%;
}

.gallery-container {
    background: rgb(49, 62, 97); 
    height: 80vw;
    width: 100%;
    padding: 5vw;
}

.gallery-element {
    float: left;
    background:#20283f;
    width: 33%;
    padding: 2vw;
}

.comp-modelling-img {
    background: url("https://williamb-eps.github.io/final-project/images/comp-modelling-intro.png");
    width: 100%;
    height: 55vw;
}

.project-content {
    background: linear-gradient(90deg, rgb(32, 40, 63), rgb(49, 62, 97)); 
    padding: 5vw;
}

.current-projects-img{
    background: url("https://williamb-eps.github.io/final-project/images/curr-projects.jpeg");
    width: 100%;
    height: 55vw;
    background-size: cover;
    background-repeat: none;
}

.project {
    width: 100%;
    height: 30vw;
    background: linear-gradient(90deg,rgb(32, 40, 63), rgb(49, 62, 97));
}

.float-item {
    float: left;
    width: 50%;
    text-align: center;
}


/* Mobile CSS */

@media only screen and (max-width: 600px) {

    h1,.overlay .closebtn {
        font-size: 15vw;
    }
    
    h2 {
        font-size: 7vw;
    }
    
    p, a {
        font-size: 4vw;
    }

    button a, label {
        font-size: 3.5vw;
    }

    .bar1, .bar2 {
        width: 10vw;
        height: 0.7vw;
        margin: 2.5vw;
    }

    .name {
        font-size: 4vw;
        margin: 2.5vw;
    }

    .overlay a {
        font-size: 8.5vw;
        padding: 4vw;
    }

    .intro-container, .intro, .headshot, .title-page-container, .contact-photo {
        height: 150vw;
    }

    .intro button {
        visibility: hidden;
    }

    .intro h1 {
        margin: 10vw 0 -20vw 0;
    }

    .title-page-container h1 {
        margin-top: 15vw;
    }

    .big-name, .logo {
        width: 100%;
        text-align: center;
        margin: 5vw 0;
    }

    button {
        height: 10vw;
        width: 25vw;
        border-radius: 2vw;
    }

    .sample-container {
        height: 390vw;
    }

    .left, .right {
        width: 100%;
    }

    .footer {
        height: 60vw;
        font-size: 4vw;
    }

    .footer-left, .footer-right {
        width: 100%;
        text-align: center;
        margin: 2vw 0;
        font-size: 3.5vw;
    }

    .footer a, .footer p {
        font-size: 4vw;
        margin: 2vw;
    }

    .mini-nav {
        margin-bottom: 3vw;
    }

    .about-me-content {
        height: 375vw;
    }

    .about-section, .about-section-2 {
        width: 100%;
        padding: 6vw;
    }

    .contact-buttons {
        margin: 10vw 0;
    }

    .contact-buttons a {
        margin: 2.25vw;
    }

    input[type=text], select, textarea {
        height: 8vw;
        font-size: 3.5vw;
    }

    input[type=submit] {
        font-size: 6vw;
        border-radius: 2vw;
        padding: 2vw;
        margin-bottom: 5vw;
    }
}