@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Nunito+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Nunito Sans;
    color: white;
    background:black;
}

h1 {
    font-family: Expletus Sans;
    font-size: 6vw;
    margin: 0;
}

h2 {
    font-family: Expletus Sans;
    font-size: 3.5vw;
}

p, a {
    font-size: 2vw;
}

.header {
    position: absolute;
    width: 100%;
    height: 4vw;
    padding: 2.5vw;
    font-size: 1.5vw;
    z-index: 1;
}

.menu {
    float: left;
    width: 50%
}

.name {
    float: right;
}


.bar1, .bar2 {
    width: 3.25vw;
    height: 0.2vw;
    background-color: white;
    margin: 1vw 0;
    transition: 0.4s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-image: linear-gradient(-45deg, #20283f,rgb(232, 37, 19));
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 5vw;
  }
  
.overlay a {
    padding: 2vw;
    text-decoration: none;
    font-size: 4vw;
    color: white;
    display: block;
    transition: 0.3s;
  }

.overlay a:hover, .overlay a:focus {
    text-decoration: underline;
}
  
.overlay .closebtn {
    position: absolute;
    right: 3vw;
    font-size: 6vw;
}

.intro-container {
    background: url("https://williamb-eps.github.io/final-project/images/intro-img.jpeg");
    background-size: cover;
    background-repeat: none;
    height: 55vw;
    width: 100%;
}


.intro {
    background: radial-gradient(circle at left,#20283F 30%, rgba(232, 37, 19,0.5));
    height: 55vw;
    padding: 8vw 5vw;
}

.big-name {
    float: left;
    width: 30%;
    margin-top: 5vw;
}

.logo {
    float: left;
    width: 50%;
    text-align: center;
    margin: 2vw 0vw 0vw 18vw;
}

hr {
    margin: 0;
    color: white;
}

.sample {
    width: 100%;
    height: 42vw;
    background: linear-gradient(90deg,#20283F, rgb(91, 70, 102));
}

.left {
    margin-top: 4vw;
    float: left;
    width: 50%;
    text-align: center;
    padding: 2.5vw;
}

.right {
    margin-top: 5vw;
    float: left;
    width: 50%;
    text-align: center;
    padding: 2.5vw;
}

button {
    background-color: rgb(232, 37, 19);
    border-radius: 1vw;
    margin: 2.5vw;
    width: 10vw;
    height: 4vw;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: Nunito Sans;
}

button:hover {
    background-color: rgb(200, 37, 19);
}

.img {
    width: 100%;
    margin: 0 auto;
}

.about-me {
    background: #20283F; /* insert headshot image */;
    width: 100%;
    height: 55vw;
    padding: 15vw;
    text-align: center;
}

.about-me-content {
    width: 100%;
    height: 55vw;
    background: linear-gradient(90deg, #20283F,rgb(91, 70, 102), rgb(232, 37, 19)); 
}

.gallery {
    width: 100%;
    padding: 3vw;
}

.gallery-element {
    float: left;
    background:#20283f;
    width: 33%;
    padding: 2vw;
}


@media only screen and (max-width: 800px) {

    h1,h2,h3 {
        font-size: 11vw;
    }
    p,a {
        font-size: 7vw;
    } 

    .header {
        font-size: 4vw;
    }

    .intro-container,.intro {
        height: 110vw;
    }

    
}


@media only screen and (max-width: 450px) {
    h1,h2,h3 {
        font-size: 13vw;
    }
    p,a {
        font-size: 9vw;
    } 

    .header {
        font-size: 5vw;
    }

    .intro-container,.intro {
        height: 150vw;
    }

    
}